* {
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0px;
}

/*              Menu                */
header {
    background-color: rgb(255, 241, 89);
    height: 100px;
}

.container-a {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 17%;
    display: flex;
    justify-content: right;
}

.logo a{
    margin: 7px 35px;
}

.buscador {
    width: 47%;
    display: flex;
    z-index: 2;
}

.search {
    margin: 7px 1px;
    margin-right: 0;
    height: 40px;
    width: 92%;
    border: none;
    border-radius: 3px;
    letter-spacing: .7px;
    outline: 0;
}
.search::placeholder {
    font-size: 15px;
    padding-left: 10px;
    color: #afafaf;
}
.search:focus {
    font-size: 15px;
    padding-left: 5px;
}

.lupa {
    margin: 7px 0px;
    height: 42px;
    width: 45px;
    background: #ffff;
    background-image: url("imagen/buscar.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center center;
    border: none;
    border-left: 1px solid #e3e3e3;
}

.lupa:hover {
    cursor: pointer;
}

.publicidad {
    width: 35%;
    display: flex;
}

.publicidad a{
    margin: 7px 65px;
}


.container-b {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.direccion {
    width: 17%;
    display: flex;
    justify-content: right;
}

.direccion button img {
    margin: auto;
    height: 23px;
}

.direccion button p {
    margin: auto;
    margin-left: 0;
}

.direccion button {
    display: flex;
    width: 132px;
    height: 40px;
    margin-right: 55px;
    background-color: transparent;
    border: none;
    border-radius: 3px;
}

.direccion button:hover {
    border: 1px solid #80808033;
    cursor: pointer;
}

.categoria {
    width: 47%;
}

.categoria ul {
    padding: 0;
    margin: 16px;
    margin-left: 0px;
}

.categoria ul li img {
    height: 10px;    
}

.categoria ul li {
    display: inline-block;
    margin-right: 12px;
    font-size: 14px;
    font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif;
    color: rgba(51,51,51,.6);
}

.categoria ul .cat:hover {
    cursor: pointer;
}

.categoria ul li a {
    font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif;
    color: rgba(51,51,51,.6);
}

.cuenta {
    width: 35%;
    display: flex;
}

.cuenta ul {
    padding: 0;
    margin: 11px;
    margin-left: 21%;
}

.cuenta ul li {
    display: inline-block;
    font-size: 14px;
    margin-right: 15px;
}

.cuenta ul li img {
    height: 20px;
}

.cuenta ul li a {
    font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif;
    color: rgba(51,51,51,.6);
}

header li a:hover {
    color: black;
    transition: color .25s ease-out;
}

@media only screen and (max-width: 1100px){
    .logo {
        justify-content: left;
    }
    .logo a{
        margin: 7px 5px;
    }
    .direccion {
        justify-content: left;
    }
    .direccion button{
        margin: 0 1px;
    }
}
@media only screen and (max-width: 1130px){
    .publicidad {
        justify-content: right;
    }
    .publicidad a{
        margin: 7px 5px;
    }
}
@media only screen and (max-width: 1200px){
    nav ul .modas {
        display: none;
    }
}
@media only screen and (max-width: 1096px){
    nav ul .supermercados {
        display: none;
    }
}
@media only screen and (max-width: 1162px){
    .cuenta {
        justify-content: right;
    }
    .cuenta ul {
        margin: 11px 0px;
    }
}

/*              aside                */
aside {
    height: 340px;
    width: 100%;
}

.atras {
    position: absolute;
    width: 32px;
    height: 64px;
    left: 0;
    top: 238px;
    border: none;
    border-top-right-radius: 64px;
    border-bottom-right-radius: 64px;
    background-image: url("imagen/flecha-izquierda.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 7px center;
}

.adelante {
    position: absolute;
    width: 32px;
    height: 64px;
    right: 0;
    top: 238px;
    border: none;
    border-top-left-radius: 64px;
    border-bottom-left-radius: 64px;
    background-image: url("imagen/flecha-correcta.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 7px center;
}

aside:hover, .atras:hover, .adelante:hover {
    cursor: pointer;
}

aside .carrusel div {
    display: flex;
    justify-content: center;
    overflow: hidden;
}


.carrusel .b, .carrusel .c, .carrusel .d, .carrusel .e, .carrusel .f, .atras, .adelante{
    display: none;
}

.carrusel:hover ~ .atras {
    display: inline-block;
}
.carrusel:hover ~ .adelante {
    display: inline-block;
}

aside ul {
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    height: 6px;
    width: 60px;
    left: 47.5%;
    top: 409px;
}

aside ul li button {
    padding: 0;
    margin: 2px;
    width: 6px;
    height: 6px;
    background-color: rgba(0,0,0,.25);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
}

/*              main                */
main{
    background-color: #ebebeb;
}

/*              formas de pago                */
.contenedor-forma-pagos {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formas-pagos {
    margin: 8px;
    height: 90px;
    width: 92%;
    display: flex;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}

.credito{
    width: 18.1rem;
    display: flex;
    align-items: center;
}

.credito button {
    background-color: transparent;
    border: none;
    padding: 1px 12px;
}

.credito div p {
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 17px;
    margin: 0 0 0 3px;
    
}

.credito div button {
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    color: #3483fa;
    padding: 0px 1px;
}

.debito {
    display: flex;
    align-items: center;
    width: 17.7rem;
}

.debito button {
    background-color: transparent;
    border: none;
    margin-left: 15px;
}

.debito div p {
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 17px;
    margin: 0 0 0 3px;
    
}

.debito div button {
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    color: #3483fa;
    padding: 0px 1px;
    margin: 3px;
}

.sin-tarjeta {
    display: flex;
    align-items: center;
    width: 17.9rem;
}

.sin-tarjeta button {
    background-color: transparent;
    border: none;
    margin-left: 15px;
}

.sin-tarjeta div p {
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 17px;
    margin: 0 0 0 3px;
    
}

.sin-tarjeta div button {
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    color: #3483fa;
    padding: 0px 1px;
    margin: 3px;
}

.efectivo {
    display: flex;
    align-items: center;
    width: 12.8rem;
}

.efectivo button {
    background-color: transparent;
    border: none;
    margin-left: 15px;
}

.efectivo div p {
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 17px;
    margin: 0 0 0 15px;
    
}

.efectivo div button {
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    color: #3483fa;
    padding: 0px 1px;
}

.mas {
    display: flex;
    align-items: center;
    width: 110px;
    padding: 0;
    margin: 0;
}

.mas button {
    background-color: transparent;
    border: none;
    border-left: 1px solid #e3e3e3;
    padding: 0;
    padding-left: 25px;
    margin: 0;
}

.mas button img {
    padding: 0;
    margin: 0;
}

.credito button:hover, .debito button:hover, .sin-tarjeta button:hover, .efectivo button:hover {
    cursor: pointer;
    color: #1259c1;
}

/*              articulos seccion 1                */
.seccion-uno {
    height: 460px;
    padding-top: 15px;
    margin: 0 auto;
    max-width: 1170px;
}

.section-header {
    display: flex;
    margin-bottom: 19px;
}

.section-header h2, .section-header a {
    padding: 0;
    margin: 0;
}

.section-header h2 {
    color: #666;
    font-size: 26px;
    font-weight: 100;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

.section-header a {
    padding-top: 10px;
    padding-left: 16px;
    color: #3483fa;
    font-size: 16px;
    font-weight: 100;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

.section-header a:hover {
    color: #1259c1;
}

.carrusel-artuculos {
    height: 350px;
    display: flex;
    justify-content: space-between;
}

.carrusel-artuculos article {
    width: 217px;
    height: 350px;
    background-color: white;
    border-radius: 4px;
}

.carrusel-artuculos .imagen img{
    width: 217px;
    height: 220px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.carrusel-artuculos p{
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    padding-left: 10px;
    font-size: 24px;
    color: black;
}

.seccion-uno article:hover {
    box-shadow: 0px 10px 15px 8px rgba(102,102,102,0.48);
    -webkit-box-shadow: 0px 10px 15px 8px rgba(102,102,102,0.48);
    -moz-box-shadow: 0px 10px 15px 8px rgba(102,102,102,0.48);
}
